@import 'styles/variables.scss';

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacing-large;
  padding: 100px;
  background-color: $background-color-secondary;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow;
}
