@import 'styles/variables.scss';
@import 'styles/mixins.scss';

// Height
$button-height-small: 40px;
$button-height-medium: 50px;
$button-height-large: 60px;

.button {
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 25px;
  border-radius: $border-radius;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  color: $color-white;

  &-small {
    @include button($button-height-small, $spacing-small, 14px);
  }

  &-medium {
    @include button($button-height-medium, $spacing-medium, 16px);
  }

  &-large {
    @include button($button-height-large, $spacing-large, 18px);
  }

  &-primary {
    @include button-type($color-primary, $color-white, none);

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &-secondary {
    @include button-type($color-secondary, $color-white, none);

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }

  &-success {
    @include button-type($color-success, $color-white, none);

    &:hover {
      background-color: darken($color-success, 10%);
    }
  }

  &-error {
    @include button-type($color-error, $color-white, none);

    &:hover {
      background-color: darken($color-error, 10%);
    }
  }

  &-disabled {
    @include button-type($color-disabled, $text-color-disabled, none);
    cursor: not-allowed;

    &:hover {
      background-color: $color-disabled;
    }
  }

  &:active:not(.button--disabled) {
    transform: translateY(0);
    box-shadow: none;
  }
}
