@import 'styles/global.scss';

// Height
$button-height-small: 4rem;
$button-height-medium: 5rem;
$button-height-large: 6rem;

.button {
  white-space: nowrap;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  color: $color-white;
  padding: 0rem $spacing-medium;
  height: 5rem;
  border-radius: $border-radius;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;

  &-small {
    @include button($button-height-small, $spacing-small, $font-small);
  }

  &-medium {
    @include button($button-height-medium, $spacing-medium, $font-medium);
  }

  &-large {
    @include button($button-height-large, $spacing-large, $font-large);
  }

  &-primary {
    @include button-type($color-primary, $color-white, none);

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &-secondary {
    @include button-type($color-secondary, $color-white, none);

    &:hover {
      background-color: darken($color-secondary, 10%);
    }
  }

  &-success {
    @include button-type($color-success, $color-white, none);

    &:hover {
      background-color: darken($color-success, 10%);
    }
  }

  &-error {
    @include button-type($color-error, $color-white, none);

    &:hover {
      background-color: darken($color-error, 10%);
    }
  }

  &-disabled {
    @include button-type($color-disabled, $text-color-disabled, none);
    cursor: not-allowed;

    &:hover {
      background-color: $color-disabled;
    }
  }

  &:active:not(.button--disabled) {
    transform: translateY(0);
    box-shadow: none;
  }
}
