@import 'variables.scss';

// Height
$button-height-small: 40px;
$button-height-medium: 50px;
$button-height-large: 60px;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  color: $color-white;

  &-small {
    height: $button-height-small;
    padding: 0 15px;
    font-size: 14px;
  }

  &-medium {
    height: $button-height-medium;
    padding: 0 $spacing-medium;
    font-size: 16px;
  }

  &-large {
    height: $button-height-large;
    padding: 0 $spacing-large;
    font-size: 18px;
  }

  &-primary {
    background-color: $color-primary;
    color: $color-white;
    border: none;

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }

  &-success {
    background-color: $color-success;
    color: $color-white;
    border: none;

    &:hover {
      background-color: darken($color-success, 10%);
    }
  }

  &-error {
    background-color: $color-error;
    color: $color-white;
    border: none;

    &:hover {
      background-color: darken($color-error, 10%);
    }
  }

  &-disabled {
    background-color: $color-disabled;
    color: $text-color-disabled;
    cursor: not-allowed;
    border: none;

    &:hover {
      background-color: darken($color-disabled, 10%);
    }
  }

  &:active:not(.button--disabled) {
    transform: translateY(0);
    box-shadow: none;
  }
}
