@import 'variables.scss';

.user-details {
  background-color: white;
  padding: 40px 60px;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &__content {
    margin-top: $spacing-medium;
    line-height: 1.5;
    margin-bottom: $spacing-small;

    .bold {
      margin-right: $spacing-small;
    }
  }

  &__content:not(:last-child) {
    margin-bottom: $spacing-medium;
  }

  &__title {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: $spacing-medium;
  }
}
