@import 'styles/global.scss';

.search {
  width: 100%;
  height: 4rem;
  padding: 0.8rem 1.6rem;
  font-size: $font-size-medium;
  border: none;
  box-sizing: border-box;
  border-radius: $border-radius;
  background-color: $color-background-input-field;
  color: $text-color;
  box-shadow: $box-shadow;
  transition: $transition;

  &:focus {
    outline: none;
    box-shadow: $box-shadow-hover;
  }

  &::placeholder {
    color: $color-placeholder;
  }
}
