@import 'variables.scss';

.projection-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  background-color: $background-color-secondary;
  padding: 40px 60px;
  border-radius: $border-radius-large;
  box-shadow: $box-shadow;

  &__title {
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin-bottom: $spacing-large;
  }

  &__content {
    width: 100%;
    margin-top: $spacing-medium;
    line-height: 1.5;
    margin-bottom: $spacing-small;

    .bold {
      margin-right: 5px;
    }
  }

  &__button {
    text-align: center;
    margin-top: $spacing-large;
  }
}
