@import 'variables.scss';

.navbar-item {
  display: flex;
  align-items: center;
  height: calc(100% - 5px);
  padding: 0 $spacing-medium;
  transition: transform 0.1s linear;

  &:hover {
    transform: translateY(-5px);
  }

  &:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
  }

  & a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

    &.active {
      color: $color-primary;
    }
  }
}
