@import 'styles/global.scss';

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 0.5rem);
  padding: 0 $spacing-medium;
  position: relative;

  & a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: $font-size-medium;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0.3rem;
      background-color: white;
      transition: width 0.2s ease-in-out;
    }

    &:hover::after {
      width: 100%;
      left: 0;
      transform: none;
      transition: width 0.2s ease-in-out;
    }

    &.active {
      color: red;
    }
  }
}
