@import 'styles/global.scss';

.movie-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: $spacing-large;
  justify-content: space-between;

  @include lg {
    justify-content: space-around;
  }

  @include md {
    flex-direction: column;
  }
}
