@import 'styles/global.scss';

.user-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $spacing-large;
  padding: $spacing-small 0;
  border-radius: $border-radius-large;

  &__input {
    display: flex;
    gap: $spacing-medium;
  }

  &__search {
    width: 30rem;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-small;
  }

  &__slider {
    width: calc(50% - $spacing-small);
    display: flex;
    justify-content: center;
  }
}
