@import 'variables.scss';

.user-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $spacing-large;
  padding: 10px 0;
  border-radius: $border-radius-large;

  &__input {
    display: flex;
    gap: 20px;
  }

  &__search {
    width: 300px;
  }

  &__filter {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-small;
  }

  &__slider {
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
  }
}
