@import 'styles/global.scss';

.header {
  background-color: #1a1a1a;
  height: 7rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__title {
    color: white;
    margin-left: $spacing-small;
    font-size: $font-size-header;
    font-weight: 500;
    font-family: $font-family-header;
    cursor: default;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
    max-width: $page-content-max-width;
    margin: 0 auto;
    padding: 0 $spacing-medium;
  }
}
