@import 'variables.scss';
.header {
  background-color: #1a1a1a;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &__title {
    color: white;
    margin-left: 10px;
    font-size: 35px;
    font-family: $font-header;
    cursor: default;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: inherit;
    max-width: $page-content-max-width;
    margin: 0 auto;
    padding: 0 $spacing-medium;
  }
}
