@import 'styles/variables.scss';

.projection-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: $spacing-large;
  padding: 10px 0;
  border-radius: $border-radius-large;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-small;
  }

  &__filter {
    width: 180px;
    display: flex;
    justify-content: center;
  }

  &__slider {
    width: 250px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
  }

  &__button {
    margin: 10px;
    padding: 10px 25px;
    background-color: white;
    border-radius: $border-radius;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);

    &:hover {
      cursor: pointer;
    }
  }
}
