@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;300;400;500;600;700&display=swap');

// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 576px;

// Small tablets (portrait view)
$screen-md-max: 800px;

// Tablets and small desktops
$screen-lg-max: 992px;

// Large tablets and desktops
$screen-xl-max: 1200px;

// Colors
$color-primary: #a93229;
$color-secondary: #1f221a;
$color-success: #28a745;
$color-error: #4f2857;
$color-disabled: #e9ecef;
$color-gray: silver;

$color-placeholder: #aaa;
$color-background-input-field: #f2f2f2;

$color-white: #fff;

// Backgrounds
$background-color-primary: #b9c8d3;
$background-color-secondary: #ede8d8;

// Text Color
$text-color: #1a1a1a;
$text-color-disabled: #6c757d;

// Fonts
$font-family-header: 'Inter', sans-serif;
$font-family-text: 'Montserrat', sans-serif;

// Font sizes
$font-size-small: 1.6rem;
$font-size-medium: 1.9rem;
$font-size-large: 2.2rem;
$font-size-header: 4rem;
$font-size-page-title: 6rem;

// Spacing
$spacing-small: 1.5rem;
$spacing-medium: 2.5rem;
$spacing-large: 3.5rem;

// Border
$border-radius: 0.5rem;
$border-radius-large: 1rem;

// Shadows
$box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
$box-shadow-hover: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.3);

$box-shadow-large: 0rem 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
$box-shadow-large-hover: 0rem 0.5rem 0.8rem rgba(0, 0, 0, 0.3);

// Sizes
$page-content-max-width: 1300px;

// Transitions
$transition: all 0.2 ease;
