@import 'styles/global.scss';

.range-slider {
  width: 100%;
  max-width: 40rem;
  font-size: $font-size-medium;

  .MuiSlider {
    &-root {
      color: $color-primary;
      height: 0.8rem;
    }

    &-markLabel {
      color: $text-color;
      font-size: $font-size-small;
      font-weight: 500;

      &-active {
        color: $color-primary;
      }
    }

    &-rail {
      height: 0.8rem;
      border-radius: $border-radius;
      background-color: #e0e0e0;
    }

    &-track {
      height: 0.8rem;
      border-radius: $border-radius;
      background-color: $color-primary;
    }

    &-thumb {
      width: $spacing-medium;
      height: $spacing-medium;
      background-color: $color-white;
      border: 0.2rem solid $color-primary;
      box-shadow: 0rem 0.2rem 0.2rem 0rem rgba(0, 0, 0, 0.14),
        0rem 3px 1px -0.2rem rgba(0, 0, 0, 0.12), 0rem 0.1rem 0.5rem 0rem rgba(0, 0, 0, 0.2);

      &:focus,
      &:hover {
        box-shadow: 0rem 0rem 0rem 0.8rem rgba(33, 150, 243, 0.16);
      }
    }

    &-valueLabel {
      top: -$spacing-medium;
      font-size: $spacing-small;
      color: $color-white;
      background-color: $color-primary;
      padding: 0.4rem 0.8rem;
      border-radius: $border-radius;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        display: none;
      }
    }
  }
}
