@import 'styles/global.scss';

.input {
  display: flex;
  flex-direction: column;
  height: 7rem;
  margin-bottom: $spacing-medium;
  color: $text-color;
  font-size: $font-medium;

  &__label {
    margin-bottom: $spacing-small;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    font-size: $font-small;
    display: inline-block;
    padding: $spacing-small;
    border: 0.1rem solid $color-gray;
    background-color: $color-background-input-field;
    border-radius: $border-radius;
    transition: $transition;

    &.error {
      border-color: red;
    }

    &:focus {
      outline: none;
      border-color: darken($background-color-primary, 10%);
    }
  }

  &__error {
    color: red;
    font-size: 1.2rem;
    margin-top: $spacing-small;
  }
}
