@import 'styles/global.scss';

.movie-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $spacing-large;

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-medium;

    @include xl {
      flex-direction: column;
    }

    @include md {
      flex-direction: row;
    }
  }

  &__input {
    display: flex;
    gap: $spacing-small;

    @include md {
      flex-direction: column;
    }
  }

  &__search {
    width: 30rem;

    @include md {
      width: 25rem;
    }
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-small;

    @include md {
      flex-direction: column;
    }
  }

  &__filter {
    width: 18rem;
    display: flex;
    justify-content: center;

    @include md {
      width: 25rem;
    }
  }

  &__sliders {
    display: flex;
    align-items: center;
    gap: 5rem;
    width: 50rem;

    @include md {
      flex-direction: column;
      gap: 0;
    }
  }

  &__slider {
    width: 100%;
    display: flex;
    justify-content: flex-start;

    @include md {
      width: 25rem;
    }
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: $spacing-medium;

    @include xl {
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
    }

    @include md {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  @include xl {
    flex-direction: row;
    margin-bottom: 0;
  }
}
