@import 'styles/global.scss';

.movie-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: $spacing-large;
  padding: 10px 0;
  border-radius: $border-radius-large;

  @include xl {
    display: none;
  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-medium;
  }

  &__input {
    display: flex;
    gap: 20px;
  }

  &__search {
    width: 300px;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-small;
  }

  &__filter {
    width: 180px;
    display: flex;
    justify-content: center;
  }

  &__sliders {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 450px;
  }

  &__slider {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    gap: $spacing-medium;
  }
}
