@import 'styles/variables.scss';

.input-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: $text-color;

  &__label {
    margin-bottom: $spacing-small;
  }

  &__field-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__field {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2;
    border-radius: $border-radius;
    font-size: 16px;
    transition: $transition;
    width: 100%;
    box-sizing: border-box;

    &.error {
      border-color: red;
    }

    &:focus {
      outline: none;
      border-color: darken($background-color-primary, 10%);
    }
  }

  &__field-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error {
    color: red;
    font-size: 14px;
    margin-top: $spacing-small;
  }
}
