@import 'styles/global.scss';

.input-password {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  color: $text-color;
  font-size: $font-size-medium;
  box-sizing: border-box;
  height: 5rem;

  &__label {
    margin-bottom: $spacing-small;
  }

  &__field-wrapper {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__field {
    box-sizing: border-box;
    width: 100%;
    font-size: $font-size-small;
    display: inline-block;
    padding: 1rem;
    border: 0.1rem solid $color-gray;
    background-color: $color-background-input-field;
    border-radius: $border-radius;
    transition: $transition;

    &.error {
      border-color: red;
    }

    &:focus {
      outline: none;
      border-color: darken($background-color-primary, 10%);
    }
  }

  &__field-toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__error {
    color: red;
    font-size: 1.2rem;
    margin-top: $spacing-small;
  }
}
