@import 'styles/global.scss';

.main {
  width: 100%;
  max-width: 1300px;
  padding: 12rem 0;
  margin: 0 auto;

  @include lg {
    padding: 10vh vw;
    margin: 0;
    width: 100%;
  }
}

.bold {
  font-weight: bold;
}

.padding-right {
  padding-right: 5rem;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.pointer {
  font-weight: bold;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.underline {
  text-decoration: underline;
  &:hover {
    color: blue;
  }
}

.icon {
  margin-left: 1rem;
}

/* Icons */
.edit-icon {
  color: darken(#28a745, 10%);
  cursor: pointer;
}

.delete-icon {
  color: darken(#dc3545, 10%);
  cursor: pointer;
}

/* Table styles */
table {
  margin-top: $spacing-large;
  width: 100%;
  max-width: 130rem;
  font-size: $font-size-small;
  border-radius: $border-radius;
  background-color: $background-color-secondary;
  border-spacing: 0;
  box-shadow: $box-shadow-large;
  cursor: default;
}

th {
  background-color: $background-color-primary;
  font-weight: bold;
  text-align: center;
  font-size: $font-size-medium;
  padding: 1rem 5rem;
  height: 4rem;

  &:first-child {
    border-top-left-radius: $border-radius;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
  }
}

tr th,
td {
  border-bottom: 0.1rem solid #ccc;
}

tr {
  &.sold {
    background-color: lightgray;
  }

  &:last-child {
    td {
      border-bottom: none;
    }
  }
}

td {
  padding: 1.5rem 1rem;
  text-align: center;

  &:first-of-type {
    padding-left: 5rem;
  }

  &.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* Modals */
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  background-color: $background-color-secondary;
  border-radius: $border-radius-large;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.2);
  padding: 5rem;
  width: 55rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  &__title {
    font-size: $font-size-large;
    font-weight: bold;
    margin-bottom: $spacing-large;
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: $spacing-medium;
  }
}

.page-header {
  font-family: $font-family-header;
  font-weight: bold;
  font-size: $font-size-page-title;
  margin-bottom: $spacing-large;
}
