/// Variables///
$button-color-primary: #007bff;
$button-color-success: #28a745;
$button-color-warning: #ffc107;
$button-color-error: #dc3545;
$button-color-disabled: #e9ecef;
$button-shadow-hover: 0px 4px 8px rgba(0, 0, 0, 0.1);

$text-color: white;
$text-color-disabled: #6c757d;

.main {
  width: 100%;
  max-width: 1130px;
  margin: 120px auto;
}

.bold {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin-top: 50px;
  border: 1px solid red;
}

th,
td {
  text-align: center;
  padding: 20px;
  font-weight: 500;
  cursor: default;
}

td a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-weight: bold;
}

th {
  font-weight: 100;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dfdfdf;
}
