@import 'variables.scss';

.main {
  width: 100%;
  max-width: 1300px;
  padding: 120px 0;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Icons */
.edit-icon {
  color: darken(#28a745, 10%);
  cursor: pointer;
}

.delete-icon {
  color: darken(#dc3545, 10%);
  cursor: pointer;
}

/* Table styles */
table {
  margin-top: 30px;
  width: 100%;
  max-width: 1300px;
  border-radius: $border-radius;
  background-color: $background-color-secondary;
  border-spacing: 0;
  box-shadow: $box-shadow-large;
  cursor: default;
}

th {
  background-color: $background-color-primary;
  font-weight: bold;
  text-align: left;
  padding: 10px 50px;
  height: 40px;

  &:first-child {
    border-top-left-radius: $border-radius;
  }

  &:last-child {
    text-align: center;
    border-top-right-radius: $border-radius;
  }
}

tr th,
td {
  border-bottom: 1px solid #ccc;
}

tr {
  &:last-child {
    td {
      border-bottom: none;
    }
  }
}

td {
  padding: 10px 50px;
  text-align: left;
  height: 40px;

  &.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &:first-child {
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
}

/* Modals */
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  display: none;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal {
  background-color: $background-color-secondary;
  border-radius: $border-radius-large;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 50px;
  width: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
