@import 'styles/global.scss';

html {
  font-size: 62.5%;

  @include xl {
    font-size: 56.25%;
  }

  @include lg {
    font-size: 50%;
  }

  @include sm {
    font-size: 43.75%;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family-text;
  color: $text-color;

  /* Background image */
  background-image: url('/common/assets/background-image.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
  z-index: -100;

  @include lg {
    // background-image: none;
    // background-color: $background-color-primary;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    z-index: -99;
    background-color: rgba($background-color-primary, 0.96);

    @include lg {
      // display: none;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
